/*---------------------------------------------------*/
/*	05) ARLO COUNTERBOX
/*---------------------------------------------------*/

.arlo_tm_counter_wrap{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.arlo_tm_counter_wrap{overflow: hidden;}
.arlo_tm_counter_list{
	list-style-type:none;
	width:100%;
	margin: 0px;
	
	-webkit-perspective: 500px;
	-moz-perspective: 500px;
	perspective: 500px;
}
.arlo_tm_counter_list li{
	width:25%;
	float:left;
	text-align:center;
	margin: 0px;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.arlo_tm_counter_list li .inner{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	position: relative;
	padding: 90px 15px 93px 15px;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.arlo_tm_counter_list li .inner:before{
	position: absolute;
	content: "";
	width: 1px;
	top: 35px;
	bottom: 35px;
	background-color: #d1d7db;
	left: 100%;
}
.arlo_tm_counter_list li:nth-child(4) .inner:before{display: none;}
.arlo_tm_counter_list li h3{
	font-family: "Montserrat";
	color: #181a2f;
	margin-bottom: 10px;
}
.arlo_tm_counter_list li h3 > span{
	font-size: 40px;
	font-weight: 700;
}
.arlo_tm_counter_list li .inner > span{
	color:#666;
	font-family: "Open Sans";
	font-size: 14px;
	display: block;
	font-weight: 600;
}


/*---------------------------------------------------*/
/*	08) ARLO NEWS
/*---------------------------------------------------*/

.arlo_tm_list_wrap{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.arlo_tm_list_wrap > ul.total{
	margin: 0px 0px 0px -30px;
	list-style-type: none;
}
.arlo_tm_list_wrap > ul.total > li{
	margin: 0px 0px 30px 0px;
	float: left;
	width: 33.3333%;
	padding-left: 30px;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.arlo_tm_list_wrap > ul.total > li:last-child{margin-bottom: 0px;}
.arlo_tm_list_wrap > ul.total > li .inner_list{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	position: relative;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.arlo_tm_news_wrap{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	padding-top: 98px;
	padding-bottom: 70px;
	background-color: #f6f7fd;
	margin-bottom: 100px;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */ 
}
.arlo_tm_news_wrap .link_news{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 22;
}
.arlo_tm_news_wrap .arlo_tm_list_wrap .inner_list{
	background-color: #fff;
	border-radius: 3px;
}
.arlo_tm_news_wrap .definitions_wrap{padding: 40px 30px 47px 30px;}
.arlo_tm_news_wrap .image_wrap{position: relative;}
.arlo_tm_news_wrap .image_wrap .big{display: none;}
.arlo_tm_news_wrap .image_wrap .small{display: block;}
.arlo_tm_news_wrap .news_image{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.arlo_tm_news_wrap .date_wrap{margin-bottom: 16px;}
.arlo_tm_news_wrap .date_wrap p{
	color: #333;
	font-family: "Montserrat";
	font-weight: 600;
}
.arlo_tm_news_wrap .full_def{display: none;}
.arlo_tm_news_wrap .date_wrap p a{
	color: #000;
	text-decoration: none;
	text-transform: uppercase;
	position: relative;
	margin-left: 23px;
	
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.arlo_tm_news_wrap .date_wrap p a:hover{color: #E3872D;}
.arlo_tm_news_wrap .date_wrap p a:after{
	position: absolute;
	content: "";
	width: 10px;
	height: 1px;
	background-color: #333;
	top: 50%;
	right: 100%;
	margin-right: 8px;
}
.arlo_tm_news_wrap .title_holder{margin-bottom: 18px;}
.arlo_tm_news_wrap .title_holder h3{
	color: #fff;
	line-height: 1.4;
	font-weight: 600;
	font-family: "Montserrat";
}
.arlo_tm_news_wrap .title_holder h3 a{
	text-decoration: none;
	color: #041230;
	font-size: 22px;
	display: block;
	
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
	    -ms-transition: all .3s ease;
	     -o-transition: all .3s ease;
	        transition: all .3s ease;
}
.arlo_tm_news_wrap .title_holder h3 a:hover{color: #E3872D;}
.arlo_tm_news_wrap .definition{margin-bottom: 26px;}
.arlo_tm_news_wrap .definition p{color: #333;}
.arlo_tm_news_wrap .read_more a{
	text-decoration: none;
    color: #fff;
    background-color: #E3872D;
    font-weight: 600;
    font-family: "Montserrat";
    padding: 12px 35px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
    overflow: hidden;
}
.arlo_tm_news_wrap .read_more a:before{
	position: absolute;
    content: "";
    top: 0px;
    height: 100%;
    left: -25%;
    width: 0%;
    background-color: #041230;
    transform: skew(50deg);
    transition-duration: .6s;
    z-index: 1;
}
.arlo_tm_news_wrap .read_more a:hover:before{width: 170%;}
.arlo_tm_news_wrap .read_more a span{
	position: relative;
	z-index: 2;
}
.arlo_tm_popup_share_wrap{display: none;}
#arlo_tm_popup_blog{
	opacity: 0;
	visibility: hidden;
	
	width: 100%;
	height: 100vh;
	position: fixed;
	background-color: rgba(255,255,255,1);
	padding: 50px 0px;	
	z-index: 99999999;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
	
	-webkit-transition: all .2s ease;
	   -moz-transition: all .2s ease;
	    -ms-transition: all .2s ease;
	     -o-transition: all .2s ease;
	        transition: all .2s ease;
}
#arlo_tm_popup_blog.opened{
	opacity: 1;
	visibility: visible;
}
#arlo_tm_popup_blog .definitions_wrap{
	width: 100%;
	float: left;
}
#arlo_tm_popup_blog .full_def{
	display: block;
	margin-bottom: 20px;

	width: 100%;

	float: left;
}
#arlo_tm_popup_blog .full_def p{display: inline-block;}
#arlo_tm_popup_blog .definition{display: none;}
#arlo_tm_popup_blog .inner_popup{
	width: 100%;
	float: left;
	clear: both;
	position: relative;
}
#arlo_tm_popup_blog .date_wrap p{
	color: #333;
    font-family: "Montserrat";
    font-weight: 600;
}
#arlo_tm_popup_blog .date_wrap p a{
	color: #333;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    margin-left: 23px;
	
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
	    -ms-transition: all .3s ease;
	     -o-transition: all .3s ease;
	        transition: all .3s ease;
}
#arlo_tm_popup_blog .date_wrap p a:hover{color: #BD0A0D;}
#arlo_tm_popup_blog .image_wrap{
	margin-bottom: 45px;
	position: relative;
	width: 100%;
	float: left;
}
#arlo_tm_popup_blog .image_wrap .big{
	display: block;
	min-height: 250px;
}
#arlo_tm_popup_blog .image_wrap .small{display: none;}
#arlo_tm_popup_blog .image_wrap .news_image{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
#arlo_tm_popup_blog .date_wrap{
	margin-bottom: 16px;
	width: 100%;
	float: left;
}
#arlo_tm_popup_blog .date_wrap p a:before{
	position: absolute;
    content: "";
    width: 10px;
    height: 1px;
    background-color: #333;
    top: 50%;
    right: 100%;
    margin-right: 8px;
}
#arlo_tm_popup_blog .title_holder{
	margin-bottom: 18px;
	width: 100%;
	float: left;
}
#arlo_tm_popup_blog .title_holder h3{
    line-height: 1.4;
    font-weight: 600;
    font-family: "Montserrat";
}
#arlo_tm_popup_blog .title_holder h3 a{
    text-decoration: none;
    color: #000;
    font-size: 22px;
    display: block;
}
#arlo_tm_popup_blog .definition p{color: #333;}
#arlo_tm_popup_blog .read_more{display: none;}
#arlo_tm_popup_blog .arlo_tm_popup_share_wrap{
	display: block;
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	padding-bottom: 5px;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
#arlo_tm_popup_blog .arlo_tm_popup_share_wrap ul{
	margin: 0px;
	list-style-type: none;
}
#arlo_tm_popup_blog .arlo_tm_popup_share_wrap ul li{
	display: inline-block;
	margin: 0px 15px 0px 0px;
}
#arlo_tm_popup_blog .arlo_tm_popup_share_wrap ul li a{
	text-decoration: none;
    color: #000;
    font-size: 15px;
    position: relative;
    font-family: "Montserrat";
    font-weight: 600;
	
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
#arlo_tm_popup_blog .arlo_tm_popup_share_wrap ul li a:hover{color: #BD0A0D;}
#arlo_tm_popup_blog .close{
	position: absolute;
	top: 30px;
	right: 40px;
	width: 50px;
	height: 50px;
	cursor: pointer;
	display: block;
	z-index: 111111111;
}
#arlo_tm_popup_blog .close a{
	position: relative;
	display: block;
	height: 30px;
	margin-right: 10px;
	margin-top: 12px;
}
#arlo_tm_popup_blog .close a:before{
	position: absolute;
	content: "";
	width: 2px;
	height: 20px;
	background-color: rgba(0,0,0,1.00);
	top: 5px;
	right: 13px;
	transform: rotate(45deg);
}
#arlo_tm_popup_blog .close a:after{
	position: absolute;
	content: "";
	width: 2px;
	height: 20px;
	background-color: rgba(0,0,0,1.00);
	top: 5px;
	right: 13px;
	transform: rotate(135deg);
}
